.changeInfo{
.changeInfo__nead{
    color: gray;
}
.changeInfo__form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    .changeInfo__form-label{
        margin: 10px;
        color: rgb(54, 53, 53);
    }
    .changeInfo__form-input{
        padding: 10px;
        width: 50%;

        margin: 5px 0 20px 140px;
        border-radius: 10px;
        border: 1px solid rgb(151, 150, 150);
    }
    .changeInfo__form-btn{
        width: 25%;
        margin: auto;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(15, 119, 15);
        color: white;
        font-size: 18px;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
}
}