.friend {
  display: flex;
  .friend__container {
    flex: 5;
    .friend__block {
      .friend__hr{
        width: 100%;
        border-bottom: 1px solid red;
        margin-bottom: 50px;
      }
        .friend__block-head{
            color: cadetblue;
        }
      .friend__block-online {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .user_online {
          display: flex;
          align-items: center;
          position: relative;
          justify-content: space-between;
          margin-bottom: 15px;
          height: 80px;
          .user_online-img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
          }
          .user_online-bange {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(42, 201, 42);
            position: absolute;
            top: 0.5px;
            left: 50px;
            border: 2px solid white;
          }
          .user_online-name{
              width: 200px;
              font-size: 18px;
              font-weight: 400;
              margin-left: 20px;

          }
          .user_online-btn{
              border: none;
              background-color:  #1877f2;
              color: white;
              font-size: 16px;
              padding: 10px;
              border-radius: 10px;
              cursor: pointer;
          }
        }
      }
    }
  }
  .friend__reccommend {
    flex: 2;
    // background-color: cadetblue;
  }
}
