.profileInfo{
    margin-bottom: 30px;
    .profileInfo__nead{
        color: gray;
    }
    a{
        text-decoration: none;
    }
    .profileInfo_btn{
        width: 150px;
        margin: auto;
        background-color:  #1877f2;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        border:none;
        cursor: pointer;

    }
}