.post{
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0; 

    .post__wrapper{
        padding: 20px;
        .post__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .post__top-left{
                display: flex;
                align-items: center;
                .post__profile-img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .post__username{
                    font-size: 15px;
                    font-weight:500;
                    margin: 0 10px;
                }
                .post__date{
                    font-size: 12px;
                    color: rgb(104, 103, 103);
                }
            }

            .post__top-rigth{

            }
        }
        .post__center{
            margin: 20px 0;
            .post__img{
                margin-top: 20px;
                width: 100%;
                max-height: 500px;
                object-fit: contain;
            }
        }
        .post__bottom{
            display: flex;
            align-items: center;
            justify-content:space-between ;
            .post__bottom-left{
                display: flex;
                align-items: center;
                .like__icon{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    cursor: pointer;
                }
                .post__like-counter{
                    font-size: 15px;
                    color: rgb(92, 91, 91);
                }
            }
            .post__bottom-rigth{
                .post__comment-text{
                    cursor: pointer;
                    border-bottom: 1px dashed gray;
                    font-size: 15px;
                    color: rgb(92, 91, 91);
                }
            }
        }
    }
}